@model WebApp.Models.Teacher

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout Login";
}

<h2>教師註冊</h2>
<a asp-controller="Teachers" asp-action="Create" class="btn btn-primary"> 教師 </a>
<a asp-controller="students" asp-action="Create" class="btn btn-primary "> 學生</a>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">姓名</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account" class="control-label">帳號(教師證)</label>
                <input asp-for="Account" class="form-control" />
                <span asp-validation-for="Account" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">密碼</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div>
                <label>

                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="註冊" class="btn btn-primary" />
                <label style="color:red;">@ViewBag.message</label>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
